:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    margin: 0;
}

.rightBlock{
    border-color: blue;
    border-style: solid;
    
}

.leftBlock{
    
border-color: red;
border-style: solid;

width: 50%;
height: 100%;
}

.leftBlock>div{
    position: absolute;
    top: 30%;
   
    color: white;
    background-color: black;
    width: 40%;
    text-align: center;
}
.leftBlock>p{
    position: absolute;
    bottom: 2%;
    color: white;
    text-align: center;

}

img{
    width: 100%;
    height: 100%;  
}

.topBlock{
border-style: solid;
height: 30%;
}



.midBlock{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    height: 40%;
}

.bottomBlock{
    height: 200px;
    border-style: solid;
    
    }

