:root{
    
}

body{
    display: flex;
    margin: 0;
}

.rightBlock{
    border-color: blue;
    border-style: solid;
    
}

.leftBlock{
    
border-color: red;
border-style: solid;
}

.topBlock{
border-style: solid;
}

.bottomBlock{
border-style: solid;
}

.midBlock{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
}

